.check-register {
    width: 800px;
    margin: 35px auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica;
    font-size: 12px;
    border-radius: 5px;
}

/* Using the component's main class to namespace the remaining styles so they don't collide if another component has a
   style with the same name */


/* Styling that applies to just the header rows */
.check-register th {
    text-align: center;
    font-size: 13px;
}

.check-register .row-shaded {
    background-color: cornsilk;
}

.check-register .row-selected {
    background-color: royalblue;
    color: white;
}

.check-register .header-row {
    text-transform: uppercase;
    background-color: #CED3E1;
    color: black;
}

.check-register .delete-btn {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    background-color: papayawhip;
}


/* All border styling set here */
.check-register,
.check-register .header-row,
.check-register .header-row th,
.check-register .data-row,
.check-register .data-row td {
    border: 1px solid #DDDDDD;
    padding: 2px 3px;
    font-weight: normal;
}


.check-register .left-text {
    /* Nothing - just the defaults */
}

.check-register .center-text {
    text-align: center;
}

.check-register .right-text {
    text-align: right;
}

