.check-register-table {
    width: 800px;
    margin: 35px auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica;
    font-size: 12px;
}


/* Styling that applies to just the header rows */
th {
    text-align: center;
    font-size: 13px;
}


/* Styling that applies to just the data rows */
.check-register-data-row .check-register-checknum {
    text-align: center;
}

.check-register-data-row .check-register-date {
    text-align: center;
}

.check-register-data-row .check-register-amount {
    text-align: right;
}

.check-register-data-row .check-register-delete {
    text-align: center;
}

.check-register-delete-btn {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    background-color: papayawhip;
}

.check-register-row-shaded {
    background-color: cornsilk;
}

.check-register-row-selected {
    background-color: royalblue;
    color: white;
}



.check-register-header-row {
    text-transform: uppercase;
    background-color: #CED3E1;
    color: black;
}

/* All border styling set here */
.check-register-table,
.check-register-header-row,
.check-register-header-row th,
.check-register-data-row,
.check-register-data-row td {
    border: 1px solid black;
    padding: 2px 3px;
    font-weight: normal;
}

