.check-navigation {
    margin: 15px auto;
}

/* Using the component's main class to namespace the remaining styles so they don't collide if another component has a
   style with the same name */


.check-navigation .left-buttons {
    float: left;
}
.check-navigation .right-buttons {
    float: right;
}
.check-navigation button {
    width: 110px;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    font-family: Arial, Helvetica;
    font-size: 14px;
}

.check-navigation button:disabled {
    background-color: lightgray;
}

.check-navigation .btn-divider {
    display: inline-block;
    width: 20px;
}
